  .app-container {
    display: flex;
    width: 90vh;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 80vh;
    justify-content: center;
  }
  h1,
  h2 {
    text-align: center;
  }
